# This config file is copied from the website and modified for use here.


# EditorConfig is awesome: http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches everything
# Use 4 spaces for indentation
[*]
charset = utf-8
indent_style = space
indent_size = 4
