html {
	background: black url('http://localhost/lacuna/assets/star_system/field.png');
}
body {
	font-family:verdana;
	margin:40px 0;
	padding:0;
	text-align:left;
	min-width: 1050px;
	/*min-height: 768px;*/
}
select, input, button, textarea, button {
	font-family:verdana;
}

.clearafter { height:100%; }
.clearafter:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#content {
	text-align:center;
	padding-top:15px;
}
#nojavascript {
	text-align:center;
	color:white;
}
#header, #footer  {
	text-align:center;
	height:55px;
	position:fixed;
	width: 100%;
	min-width: 1050px;
	background-color:#52acff;
	font-family:impact, sans-serif;
}
#header {
	top: 0;
	z-index:1000;
}
#footer {
	bottom: 0;
	z-index:1000;
}

.hidden {
	display:none;
}
.alert {
	color:red;
}

/*
.panelTabs {
}
.panelTabs li {
	background-color:#d2d2d2;
	border-right:2px solid #F2F2F2;
	float:left;
	height:20px;
	text-align:center;
	width:100px;
	cursor:pointer;
}
.panelTabs li.panelTabSelected {
	background-color:gray;
}
.panelTabContainer  {
	border:1px solid gray;
	border-top-width:5px;
}
*/
/*
YUI dialog skin
*/
body.yui-skin-sam .yui-panel {
	border-width:0;
}
body.yui-skin-sam .yui-panel .hd {
	width:250px;
	background:url("http://localhost/lacuna/assets/ui/tab.png") no-repeat scroll 0 0 transparent;
	border-width:0;
	margin-left:10px;
	font-family:impact, sans-serif;
	font-size:110%;
	font-weight:normal;
	color:#fff;
	line-height:1.75;
}

.yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {
	background-image:url("http://localhost/lacuna/assets/ui/bkg.png");
}
body.yui-skin-sam .yui-panel .bd {
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-radius:10px 10px 0 0;
	border-width: 5px 5px 0;
	border-style:solid;
	border-color:#52ACFF;
}
body.yui-skin-sam .yui-panel .ft {
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-radius:0 0 10px 10px;
	border-width: 0 5px 5px;
	border-style:solid;
	border-color:#52ACFF;
}
body.yui-skin-sam .nofooter .bd {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-width: 5px;
	border-style:solid;
	border-color:#52ACFF;
} 
body.yui-skin-sam .container-close {
	background:url("http://localhost/lacuna/assets/ui/close.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	height:23px;
	position:absolute;
	right:1px;
	top:5px;
	width:23px;
}

/*#pulsing_c { 
	width:99%;
}*/
#pulsing .bd {
	border-width:0px;
	text-align:center;
}
.yui-skin-sam #pulsing .bd, .yui-skin-sam #pulsing.ft {
	background:transparent;
}

/*
dialogs
*/
#login label, #createEmpire label, #createSpecies label {
	display:inline-block;
}
#login label {
	width:130px;
}
#login input[type="text"],#login input[type="password"] { width:220px; }
#login li { margin-bottom:3px; }

#createEmpire label {
	width:130px;
}
#createEmpire input[type="text"],#createEmpire input[type="password"] { width:220px; }
#createEmpire li { margin-bottom:3px; }

#createSpecies label {
	width:140px
}
#createSpecies li label {
	display:inline-block;
	width:120px;
	text-align:right;
	padding-right:5px;
	vertical-align:top;
}

/*
menu
*/
#userMenu, #planetMenu {
	width:315px;
}
#users, #planets {
	font-size:16pt;
	text-decoration:none;
}
#users {
	display:block;
	height:74px;
	padding-top:15px;
}
#planets {
	display:block;
	height:74px;
	padding-left:20px;
	padding-top:25px;
	text-align:left;
}
#planets img {
	float:left;
	margin-right:10px;
}

body.yui-skin-sam  #planetsCenter .yuimenu .bd {
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-radius:10px 10px 0 0;
	background-color:#52acff;
	border:5px solid #52ACFF;
}
body.yui-skin-sam #usersCenter .yuimenu .bd {
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-radius: 0 0 10px 10px;
	background-color:#52acff;
	border:5px solid #52ACFF;
}

.menuPlanetThumb {
	width:35px;
	height:35px;
}
.menuItem {
	display:inline-block;
	height:54px; /* 1 less than height of bar */
	color:black;
	min-width:100px;
	position:absolute;
	width:120px;
	padding-top:5px;
}
.food  img, .ore  img, .water  img, .essentia  img, .energy  img, .happiness  img, .waste  img {
	float:left;
}
.menuItem  span {
	float:left;
	font-size:25px;
	margin-left:5px;
	margin-top:8px;
}

/*
SHINEY
*/

#headerShine,#footerShine {
	height:55px;
	left:0;
	position:absolute;
	width:100%;
	z-index:1001;
}
#headerShine {
	background-image:url("http://localhost/lacuna/assets/ui/web/bar_top_shine.png");
	top:0;
}
#footerShine {
	background-image:url("http://localhost/lacuna/assets/ui/web/bar_bottom_shine.png");
	bottom:0;
}

#planetsCenter, #usersCenter, #userCenterShine, #planetsCenterShine, #userClick, #planetsClick {
	height:74px;
	left:50%;
	margin-left:-167px;
	position:absolute;
	text-align:center;
	width:334px;
}
#usersCenter {
	background-image:url("http://localhost/lacuna/assets/ui/web/selector_top.png");
	top:0;
	z-index:1003;
}
#planetsCenter {
	background-image:url("http://localhost/lacuna/assets/ui/web/selector_bottom.png");
	bottom:0;
	z-index:1003;
}
#userCenterShine {
	background-image:url("http://localhost/lacuna/assets/ui/web/selector_top_shine.png");
	top:0;
	z-index:1004;
}
#planetsCenterShine {
	background-image:url("http://localhost/lacuna/assets/ui/web/selector_bottom_shine.png");
	bottom:0;
	z-index:1004;
}
#userClick {
	top:0;
	z-index:1005;
	cursor:pointer;
}
#planetsClick {
	bottom:0;
	z-index:1005;
	cursor:pointer;
}
#usersArrow {
	width: 100%; 
	height: 100%; 
	background: url("http://localhost/lacuna/assets/ui/down.png") no-repeat scroll center 55px transparent;
	position:absolute;
	top:0;
	left:0;
}
#planetsArrow {
	width: 100%; 
	height: 100%; 
	background: url("http://localhost/lacuna/assets/ui/up.png") no-repeat scroll center 10px transparent;
	position:absolute;
	top:0;
	left:0;
}


.back, .food { left:10px; }
.inbox, .ore { left:130px; }
.bookmark, .water { left:250px; }
.essentia, .energy { right:250px; }
#header .happiness, .waste { right:130px; }
.forward, #footer .happiness { right:10px; }
#header .click, #footer .click { z-index:1003; cursor:pointer; }

/*
about
*/
#aboutCredits {
	padding-left:20px
}
#aboutCredits ul {
	padding-left:20px
}
#aboutCredits li {
	list-style: none inside;
}
#aboutCredits ul li {
	list-style: disc inside;
}

/*
* Messaging
*/
#messagingTabs #messagingCreate {
	background-color:#52ACFF;
}
.message {
	border:1px solid #B2B2B2;
	cursor:pointer;
	margin:3px 3px 0;
	padding:2px 2px 0;
	position:relative;
}
.message .messageSelect {
	position:absolute;
	right:1px;
}
.message .messageExcerpt {
	font-size:90%;
}
.unread .messageDate, .unread .messageFrom, .unread .messageSubject {
	font-weight:bold;
}

#messagingTabs .yui-content {
	padding:0;
}

#messagingCreator {
	border-top-color:#52ACFF;
}
#messagingCreator div.messagingCreatorC {
	background-color:#D2D2D2;
}
#messagingCreateToTbl {
	background-color:#fff;
}
#messagingCreateToTbl, #messagingCreateSubject {
	width:450px;
}
#messagingCreateTo {
	width:100px;
}
#messagingCreateBody {
	height: 260px;
}
#messagingCreateText {
	width:100%;
	height:100%;
	border:0;
}
#messagingCreateResponse {
	color:red;
}
#messagingArchiver {
	background-color:#52ACFF;
}
#messagingDisplay {
	padding-top:5px;
	margin-left:1%;
}
#messagingDisplay label , #messagingCreator label{
	background-color:#D2D2D2;
	display:inline-block;
	font-weight:bold;
	width:75px;
}
#messagingDisplay div, #messagingCreator div.messagingCreatorC {
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#D2D2D2;
}
#messagingDisplay span {
	padding-left:2px;
}
#messagingDisplay #messagingBody {
	height: 310px;
	overflow: auto;
	border:1px solid gray;
	padding:2px 5px;
}

/*
* Species creator
*/
.speciesSlider_bg {
	display:inline-block;
	position: relative;
	background: url(http://localhost/lacuna/assets/ui/slider-bg-fader.gif) 0 5px no-repeat;
	height: 28px;
	width: 210px;
}
.thumbDisplay {
	left:0.275em;
	position:absolute;
	top:0.25em;
}

#speciesHO div {
	position: absolute;
	cursor: default;
	top: 4px;
}
#speciesHO_highlight { 
	position: absolute; 
	background: green; 
	_font-size: 5px; /* prevent IE6 expanding the box height to font-size */ 
	top: 10px; 
	left: 12px; 
	height: 13px; 
	width: 188px; 
} 
#speciesConst_thumb,
#speciesDecep_thumb,
#speciesResearch_thumb,
#speciesManagement_thumb,
#speciesFarming_thumb,
#speciesMining_thumb,
#speciesScience_thumb,
#speciesEnviro_thumb,
#speciesPolitical_thumb,
#speciesTrade_thumb,
#speciesGrowth_thumb  {
	position: absolute;
	cursor: default;
	top: 4px;
}

.speciesPointTotal {
	padding: 10px 0pt; 
	font-size: 150%;
}
.speciesPointsValid { color:green; }
.speciesPointsInvalid { color:red; }


/*
* Star Map
*/
#starMap, #planetMap {
	margin: 0 auto;
	position:relative;
	/*height:700px;
	width:700px;*/
	border:0 none;
	clear:both;
	cursor: url(http://maps.gstatic.com/intl/en_us/mapfiles/openhand_8_8.cur), default;
}
/*#planetMap {
	background: brown url('http://localhost/lacuna/assets/planet_side/ground.png');
}*/
.planetMapTileCounter {
	z-index: 2;
	text-align: right;
	font-size: 140%;
	font-family: impact, san-serif;
	position: absolute;
}
.planetMapTileActionContainer {
	z-index: 3;
	text-align: left;
	font-size: 140%;
	font-family: impact, san-serif;
	visibility: hidden;
	position:absolute;
	left:0;
	top:0;
}
.planetMapTileActionButton {
	background: transparent url('http://localhost/lacuna/assets/ui/l/build.png');
	width:58px; /*19px;*/
	height:45px; /*22px;*/
	border:0;
	cursor:pointer;
	margin:97px 91px;
	/*
	margin:77px 71px;
	margin:89px 90px;
	*/
}
#mapiator_zoom_in, #mapiator_zoom_out {
	position:absolute; 
	z-index:30; 
	width:39px; 
	height:20px; 
	left:40px;
	cursor:pointer;
}
#mapiator_zoom_in {
	background: url(http://localhost/lacuna/assets/ui/in.png);
	top:35px;
}
#mapiator_zoom_out {
	background: url(http://localhost/lacuna/assets/ui/out.png);
	top:65px;
}
.tileContainer div {
	color:white;
}
.coordX {
	text-align: center;
	vertical-align: middle;
	background: transparent;
	color: white;
	border: 1px solid white;
	height: 25px;
	padding-top: 5px;
	position: absolute;
	top: 0;
}
.coordY {
	text-align: center;
	vertical-align: middle;
	background: transparent;
	color: white;
	border: 1px solid white;
	width: 30px;
	position: absolute;
	left: 0;
}

body.yui-skin-sam .yui-navset .yui-nav,
body.yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
	border-color:#52acff;
}
body.yui-skin-sam .yui-navset .yui-content,
body.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
	border-color:#52acff;
}
body.yui-skin-sam .yui-navset .yui-content {
	background-color:transparent;
}
body.yui-skin-sam .yui-navset .yui-nav .selected a, 
body.yui-skin-sam .yui-navset .yui-nav .selected a em {
	border-color:#52acff;
}
body.yui-skin-sam .yui-navset .yui-nav a, 
body.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
	background:none repeat scroll 0 0 #D8D8D8;
}
body.yui-skin-sam .yui-navset .yui-nav a:focus,
body.yui-skin-sam .yui-navset .yui-nav a:hover {
	background:none repeat scroll 0 0 #BFDAFF;
}
body.yui-skin-sam .yui-navset .yui-nav .selected a, 
body.yui-skin-sam .yui-navset .yui-nav .selected a:focus, 
body.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
	background:none repeat scroll 0 0 #52acff;
}

/*
* System Map
*/
#systemMap {
	text-align:left;
}
.orbit {
	vertical-align: middle;
	position: absolute;
	text-align: right;
}
.orbit span {
	display: inline-block;
	color: white;
}
.planet {
	cursor: pointer;
	position: relative;
	display: inline;
	vertical-align: middle;
}
.planetName {
	cursor: pointer;
}
#orbit1 { width: 250px; top: 80px; }
#planet1, #planetAlignment1 { width: 60px; }
#orbit2 { width: 345px; top: 140px; }
#planet2, #planetAlignment2 { width: 75px; }
#orbit3 { width: 450px; top: 210px; }
#planet3, #planetAlignment3 { width: 90px; }
#orbit4 { width: 570px; top: 285px; }
#planet4, #planetAlignment4 { width: 105px; }
#orbit5 { width: 700px; top: 370px; }
#planet5, #planetAlignment5 { width: 120px; }
#orbit6 { width: 855px; top: 460px; }
#planet6, #planetAlignment6 { width: 135px; }
#orbit7 { width: 1020px; top: 560px; }
#planet7, #planetAlignment7 { width: 150px; }

#planetAlignment1, #planetAlignment2, #planetAlignment3, #planetAlignment4, #planetAlignment5, #planetAlignment6, #planetAlignment7  {
	position:absolute;
	right:0px;
	top:0px;
}

/*
planet details
*/
#planetDetailsName {
	font-family:impact;
	font-size:120%;	
}
#planetDetails label {
	font-weight:bold;
	display:inline-block;
	width:100px;
}
#planetDetailRename label {
	width:150px;
}
.smallImg {
	display:inline-block;
	width:30px;
	vertical-align:middle;
}
.buildQueue li {
	float:left;
}
.buildQueue .buildQueueName {
	width:200px;
}
.buildQueue .buildQueueLevel {
	width:50px;
	text-align:right;
}
.buildQueue .buildQueueTime  {
	width:100px;
	text-align:right;
}
.buildQueue .buildQueueCoords  {
	width:100px;
	text-align:right;
}
.buildQueueHeader .buildQueueLevel , .buildQueueHeader .buildQueueTime  {
	text-align:center;
}
.buildQueueHeader {
	font-weight:bold;
	border-bottom:1px solid #52acff;
}
.buildingDetailsNum { 
	display:inline-block;
	text-align:right;
	width:80px;
}
#buildingDetailsName, .buildingName {
	font-weight:bold;
}
.buildingName {
	cursor:pointer;
	text-decoration:underline;
}
#buildingDetailsDesc{
	border-top:1px solid #52acff;
	font-size:85%;
}
.buildingDesc  {
	border-bottom:1px solid #52acff;
	font-size:85%;
}
.buildingReason  {
	font-size:85%;
}
#buildingBuilderUnavailable .buildingDesc  {
	border-top:1px solid #52acff;
}
/*#buildingDetailsExtra {
	padding: 5px 0;
}
#buildingDetailsProduction {
	padding-top:5px;
}*/
/*#buildingDetailsExtra, #buildingDetailsProduction {
	border-top: 2px solid #52acff;
}*/
.buildingDetailsExtra label {
	display:inline-block;
	width:75px;
}
.buildingDetailsExtra .buildingDetailsPC li label{
	display:inline-block;
	width:125px;
}
.buildingDetailsDockedShips label {
	display:inline-block;
	width:185px;
}
.pcStored, .pcCapacity, .pcPerHour  {
	display:inline-block;
	text-align:right;
}
.pcStored { width:60px; }
.pcCapacity { width:65px; }
.pcPerHour { width:40px; }
.pcSlash {
	display:inline-block;
	text-align:center;
	width:15px;
}

.spiesHeader {
	font-weight:bold;
	border-bottom:1px solid #52acff;
}
.spyInfo li {
	float:left;
}
.spyInfo .spyAssignedTo {
	width:200px;
}
.spyInfo .spyAvailableWhen {
	width:170px;
}
.spyInfo .spyAssignment {
	width:200px;
}
.spyInfo .spyBurn {
	width:60px;
}

.newsFeedContainer {
	height:200px;
	overflow-y:auto;
	font-size:90%;
	margin:5px 0;
	padding:1px;
	border: 1px solid #52acff;
}
.newsRssLinksContainer {
}
.newsRssLinks li {
	float:left;
}
.newsRssLink a {
	vertical-align:middle;
}

.probeHeader {
	font-weight:bold;
	border-bottom:1px solid #52acff;
}
.probeInfo li {
	float:left;
}
.probeInfo .probePlanet {
	width:200px;
}
.probeInfo .probeCoords {
	width:100px;
}

.shipHeader {
	font-weight:bold;
	border-bottom:1px solid #52acff;
}
.shipInfo li {
	float:left;
}
.shipInfo .shipType {
	width:180px;
}
.shipInfo .shipCost {
	width:310px;
}
.shipInfo .shipAttributes {
	width:100px;
}
.shipInfo .shipBuild {
	width:60px;
}

.shipQueueHeader {
	font-weight:bold;
	border-bottom:1px solid #52acff;
}
.shipQueue li {
	float:left;
}
.shipQueue .shipQueueType {
	width:180px;
}
.shipQueue .shipQueueEach {
	width:100px;
}
.shipQueue .shipQueueQuantity {
	width:100px;
}


body.yui-skin-sam .yui-tt .bd {
	background-color:#52acff;
	border-color:#429cef #328cdf #328cdf;
}

/*
PROFILE
*/
#profileDetails label {
	display:inline-block;
	width:75px;
}
.medalContainer {
	overflow: auto;
	zoom:1;
	height:50px;
	width:50px;
}
.medal {
	margin:3px 3px 0;
	padding:2px 2px 0;
	position:relative;
	float:left;
}
.medal .medalPublic {
	cursor:pointer;
	position:absolute;
	right:1px;
}
.medal .medalImg {
	float:left;
	margin-right:10px;
}

/*
Essentia Dialog
*/
.essentiaBoosts li {
	float:left;
}
.essentiaBoosts img {
	vertical-align:middle;
}
.essentiaBoosts .essentiaDetailsImg {
	width:30px;
}
.essentiaBoosts .essentiaDetailsTime {
	width:200px;
	text-align:right;
}
.essentiaBoosts .essentiaDetailsCost  {
	width:100px;
	text-align:right;
}
.essentiaBoosts .essentiaDetailsBoost  {
	width:100px;
	text-align:right;
}
.essentiaHeader .essentiaDetailsTime, .essentiaHeader .essentiaDetailsCost, .essentiaHeader .essentiaDetailsBoost {
	text-align:center;
}
.essentiaHeader {
	font-weight:bold;
	border-bottom:1px solid #52acff;
}

/*
TextboxList
*/
.TextboxList { 
    position:relative; 
    font-size:inherit; 
    font-family:inherit; 
    width:100%;
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
}
.TextboxListContainer {
    border:1px solid #999999;
    cursor:text;
    width:100%;
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
}
.TextboxListDisabled {
    background-color:#ddd;
    cursor:default;
}
.TextboxListDisabled .TextboxListBitBoxDelete { cursor:default; }

.TextboxList .TextboxListBit {
    cursor:default;
    display:block;
    float:left;
    list-style-type:none;
    line-height:18px;
    margin:0 5px 0 0;
    padding:0 0 0 2px;
	min-width:5px; /* override any other min-width settings */
}
.TextboxList .TextboxListBitBox { 
    background:#52acff none repeat scroll 0 0; 
    border:1px solid #CAD8F3;
    position:relative;
    font-size:85%;
    padding:0 15px 0 2px;
}
.TextboxList .TextboxListBitBoxDelete {
    background:transparent url(http://localhost/lacuna/assets/ui/crosssmall.gif) repeat scroll 0 0;
    display:block;
    font-size:1px;
    height:7px;
    position:absolute;
    right:4px;
    top:6px;
    width:7px;
}
.TextboxList .TextboxListContainer ul.TextboxListBits { position:static; vertical-align:top; } /*  width:15em; */
.TextboxList .TextboxListIndicator img { height:14px; width:14px; }
.TextboxList .TextboxListIndicatorSingle { position:absolute; top:2px; left:2px; }
.yui-skin-sam .TextboxList .TextboxListInput { border:0 none; position:static; width:1px; }
.yui-skin-sam .TextboxList .TextboxListInputSingle { position:static; /*width:10em;*/ }

.yui-skin-sam .TextboxList .TextboxListAutoComplete { width:10em; }
.yui-skin-sam .TextboxList .TextboxListAutoComplete .yui-ac-content { OVERFLOW-Y:scroll; HEIGHT:100px; TEXT-ALIGN:left }

.yui-skin-sam .yui-dt-editor .TextboxList .TextboxListAutoComplete { width:10em; }
.yui-skin-sam .yui-dt-editor .TextboxList .TextboxListAutoComplete .yui-ac-content { TEXT-ALIGN:left }

.TextboxListIcon {
    cursor:default;
    height:15px;
    width:17px;
    right:1px;
    top:1px;
    #top:2px;
    position:absolute;
    background:transparent url(http://localhost/lacuna/assets/ui/dropdown.gif) repeat scroll 0 0;
    z-index:2;
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
}
.TextboxListColumn {
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
    overflow:hidden;
}
