html {
	background: black url('http://localhost/lacuna/assets/star/field.png');
}
body {
	margin:40px 0;
	padding:0;
	text-align:left;
	min-width: 1050px;
	/*min-height: 768px;*/
}

.clearafter { height:100%; }
.clearafter:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#content {
	text-align:center;
	padding-top:6px;
}
#nojavascript {
	text-align:center;
	color:white;
}
#header, #footer  {
	color: red;
	text-align:center;
	height:46px;
	position:fixed;
	width: 100%;
	min-width: 1050px;
	background-color:#52acff;
}
#header {
	top: 0;
	z-index:1000;
}
#footer {
	bottom: 0;
	z-index:1000;
}

.hidden {
	display:none;
}
.alert {
	color:red;
}

/*
dialogs
*/
#login label, #createEmpire label, #createSpecies label {
	display:inline-block;
}
#login label {
	width:75px;
}
#createEmpire label{
	width:110px;
}
#createSpecies label {
	width:140px
}

/*
menu
*/
#users, #planets {
	font-size:25px;
	color:white;
	text-decoration:none;
}

.usersCenter {
	position:relative;
}
.planetsCenter {
	position:relative;
	background: transparent url(http://localhost/lacuna/assets/ui/toolbar-menu-bottom.png) no-repeat scroll top center;
}

.menuPlanetThumb {
	width:35px;
	height:35px;
}
.menuItem {
	display:inline-block;
	height:45px; /* 1 less than height of bar */
	color:black;
	min-width:100px;
	margin-right:10px;
}
.menuItem  img {
	float:left;
}
.menuItem  span {
	float:left;
	font-size:25px;
	margin-left:5px;
	margin-top:8px;
}
.inbox {
	cursor:pointer;
}
.bookmark {
	cursor:pointer;
}

/*
* Messaging
*/
#messagingTabs {
}
#messagingTabs li {
	background-color:#d2d2d2;
	border-right:2px solid #F2F2F2;
	float:left;
	height:20px;
	text-align:center;
	width:100px;
	cursor:pointer;
}
#messagingTabs #messagingCreate {
	background-color:#52ACFF;
}
#messagingTabs li.messagingTabSelected {
	background-color:gray;
}
.message {
	border:1px solid #B2B2B2;
	cursor:pointer;
	margin:3px 3px 0;
	padding:2px 2px 0;
	position:relative;
}
.message .messageSelect {
	position:absolute;
	right:1px;
}
.message .messageExcerpt {
	font-size:90%;
}
.unread .messageDate, .unread .messageFrom, .unread .messageSubject {
	font-weight:bold;
}
#messagingCreator, #messagingReader  {
	border:1px solid gray;
	border-top-width:5px;
}
#messagingCreator {
	border-top-color:#52ACFF;
}
#messagingCreator div {
	background-color:#D2D2D2;
}
#messagingCreateTo, #messagingCreateSubject {
	width:450px;
}
#messagingCreateBody {
	height: 260px;
}
#messagingCreateText {
	width:100%;
	height:100%;
	border:0;
}
#messagingArchiver {
	background-color:gray;
}
#messagingDisplay {
	padding-top:5px;
	margin-left:1%;
}
#messagingDisplay label , #messagingCreator label{
	background-color:#D2D2D2;
	display:inline-block;
	font-weight:bold;
	width:75px;
}
#messagingDisplay div, #messagingCreator div {
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#D2D2D2;
}
#messagingDisplay span {
	padding-left:2px;
}
#messagingDisplay #messagingBody {
	height: 310px;
	overflow: auto;
	border:1px solid gray;
	padding:2px 5px;
}

/*
* Species creator
*/
.speciesSlider_bg {
	display:inline-block;
	position: relative;
	background: url(http://localhost/lacuna/assets/ui/slider-bg-fader.gif) 0 5px no-repeat;
	height: 28px;
	width: 210px;
}
.thumbDisplay {
	left:0.275em;
	position:absolute;
	top:0.25em;
}

#createSpecies li label {
	display:inline-block;
	width:100px;
	text-align:right;
	padding-right:5px;
	vertical-align:top;
}

#speciesHO div {
	position: absolute;
	cursor: default;
	top: 4px;
}
#speciesConst_thumb,
#speciesDecep_thumb,
#speciesResearch_thumb,
#speciesManagement_thumb,
#speciesFarming_thumb,
#speciesMining_thumb,
#speciesScience_thumb,
#speciesEnviro_thumb,
#speciesPolitical_thumb,
#speciesTrade_thumb,
#speciesGrowth_thumb  {
	position: absolute;
	cursor: default;
	top: 4px;
}


/*
* Star Map
*/
#starMap, #planetMap {
	margin: 0 auto;
	position:relative;
	/*height:700px;
	width:700px;*/
	border:0 none;
	clear:both;
	cursor: url(http://maps.gstatic.com/intl/en_us/mapfiles/openhand_8_8.cur), default;
}
#planetMap {
	background: black url('http://localhost/lacuna/assets/tile/ground.png');
}
#mapiator_zoom_in, #mapiator_zoom_out {
	position:absolute; 
	z-index:30; 
	width:48px; 
	height:37px; 
	left:0;
	cursor:pointer;
}
#mapiator_zoom_in {
	background: url(http://localhost/lacuna/assets/ui/mapiator/zoomIn_blur.png);
	top:15px;
}
#mapiator_zoom_out {
	background: url(http://localhost/lacuna/assets/ui/mapiator/zoomOut_blur.png);
	top:55px;
}
.tileContainer div {
	color:white;
}
.coordX {
	text-align: center;
	vertical-align: middle;
	background: transparent;
	color: white;
	border: 1px solid white;
	height: 25px;
	padding-top: 5px;
	position: absolute;
	top: 0;
}
.coordY {
	text-align: center;
	vertical-align: middle;
	background: transparent;
	color: white;
	border: 1px solid white;
	width: 30px;
	position: absolute;
	left: 0;
}

/*
* System Map
*/
#systemMap {
	text-align:left;
}
.orbit {
	vertical-align: middle;
	position: absolute;
	text-align: right;
}
.orbit span {
	display: inline-block;
	color: white;
}
.planet {
	cursor: pointer;
	position: relative;
	display: inline;
	vertical-align: middle;
}
#orbit0 { width: 250px; top: 80px; }
#planet0 { width: 60px; }
#orbit1 { width: 345px; top: 140px; }
#planet1 { width: 75px; }
#orbit2 { width: 450px; top: 210px; }
#planet2 { width: 90px; }
#orbit3 { width: 570px; top: 285px; }
#planet3 { width: 105px; }
#orbit4 { width: 700px; top: 370px; }
#planet4 { width: 120px; }
#orbit5 { width: 855px; top: 460px; }
#planet5 { width: 135px; }
#orbit6 { width: 1020px; top: 560px; }
#planet6 { width: 150px; }
#orbit7{ width: 1200px; top: 660px; }
#planet7 { width: 165px; }
#orbit8{ width: 1400px; top: 780px; }
#planet8 { width: 180px; }

#planetDetailsName {
	font-weight:bold;
}
#planetDetails label {
	font-weight:bold;
}


/*
TextboxList
*/
.TextboxList { 
    position:relative; 
    font-size:inherit; 
    font-family:inherit; 
    width:100%;
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
}
.TextboxListContainer {
    border:1px solid #999999;
    cursor:text;
    width:100%;
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
}
.TextboxListDisabled {
    background-color:#ddd;
    cursor:default;
}
.TextboxListDisabled .TextboxListBitBoxDelete { cursor:default; }

.TextboxList .TextboxListBit {
    cursor:default;
    display:block;
    float:left;
    list-style-type:none;
    line-height:18px;
    margin:0 5px 0 0;
    padding:0 0 0 2px;
	min-width:5px; /* override any other min-width settings */
}
.TextboxList .TextboxListBitBox { 
    background:#42AF9C none repeat scroll 0 0; 
    border:1px solid #CAD8F3;
    position:relative;
    font-size:85%;
    padding:0 15px 0 2px;
}
.TextboxList .TextboxListBitBoxDelete {
    background:transparent url(../images/crosssmall.gif) repeat scroll 0 0;
    display:block;
    font-size:1px;
    height:7px;
    position:absolute;
    right:4px;
    top:6px;
    width:7px;
}
.TextboxList .TextboxListContainer ul.TextboxListBits { position:static; vertical-align:top; } /*  width:15em; */
.TextboxList .TextboxListIndicator img { height:14px; width:14px; }
.TextboxList .TextboxListIndicatorSingle { position:absolute; top:2px; left:2px; }
.yui-skin-sam .TextboxList .TextboxListInput { border:0 none; position:static; width:1px; }
.yui-skin-sam .TextboxList .TextboxListInputSingle { position:static; /*width:10em;*/ }

.yui-skin-sam .TextboxList .TextboxListAutoComplete { width:10em; }
.yui-skin-sam .TextboxList .TextboxListAutoComplete .yui-ac-content { OVERFLOW-Y:scroll; HEIGHT:100px; TEXT-ALIGN:left }

.yui-skin-sam .yui-dt-editor .TextboxList .TextboxListAutoComplete { width:10em; }
.yui-skin-sam .yui-dt-editor .TextboxList .TextboxListAutoComplete .yui-ac-content { TEXT-ALIGN:left }

.TextboxListIcon {
    cursor:default;
    height:15px;
    width:17px;
    right:1px;
    top:1px;
    #top:2px;
    position:absolute;
    background:transparent url(../images/dropdown.gif) repeat scroll 0 0;
    z-index:2;
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
}
.TextboxListColumn {
    display:-moz-inline-stack; /*mozilla 2.0*/
    display:inline-block; /*mozilla 3.0, ie 8*/
    zoom:1; /*force ie layout so we can use the display:inline below*/
    *display:inline; /*ie hack to make it think this is an inline-block*/
    overflow:hidden;
}
